@charset "UTF-8";
/*可将常用的公共样式提出来（例：颜色(渐变颜色)/边框/圆角/margin/padding/字体大小等）*/
.c-666{
    color:#666;
}
.bra-8{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}

.arrow-down:after{
        border-left:0.5rem solid transparent;
        border-right:0.5rem solid transparent;
        border-top:0.5rem solid #ddd;
        content:"";
        position:absolute;
        top:1.5rem;
        margin-left:-1rem;
    }
*{
    box-sizing:border-box;
}
*:before,
*:after{
    box-sizing:border-box;
}
html{
    font-size:12px !important;
    color:#000;
    background-color:#f5f9ff;
}
html,
body{
    font-size:12px !important;
    height:100%;
}
@media only screen and (min-width: 414px){
    html{
        font-size:14px!important;
    }
}
input,
button,
select,
textarea{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
}
a{
    color:inherit;
    text-decoration:none;
}
a:hover,
a:focus{
    color:#1791ff;
}
a:focus{
    outline:thin dotted;
    outline:0.5rem auto -webkit-focus-ring-color;
    outline-offset:-2px;
}
figure{
    margin:0;
}
.left{
    float:left;
}
.right{
    float:right;
}
.no-radius{
    border-radius:0 !important;
}
.no-shadow{
    box-shadow:none !important;
}
.lt-30{
    line-height:2.5rem;
}
.lt-24{
    line-height:2rem;
}
.line-height-large{
    line-height:3.5rem;
}
.input-small{
    width:6rem;
}
.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
}
.p-1{
    padding:1rem;
}
.p-t-1{
    padding-top:1rem;
}
.p-r-1{
    padding-right:1rem;
}
.p-b-1{
    padding-bottom:1rem;
}
.p-l-1{
    padding-left:1rem;
}
.m-1{
    margin:1rem;
}
.m-t-1{
    margin-top:1rem;
}
.m-r-1{
    margin-right:1rem;
}
.m-b-1{
    margin-bottom:1rem;
}
.m-l-1{
    margin-left:1rem;
}
.p-2{
    padding:1.25rem;
}
.p-t-2{
    padding-top:1.25rem;
}
.p-r-2{
    padding-right:1.25rem;
}
.p-b-2{
    padding-bottom:1.25rem;
}
.p-l-2{
    padding-left:1.25rem;
}
.m-2{
    margin:1.25rem;
}
.m-t-2{
    margin-top:1.25rem;
}
.m-r-2{
    margin-right:1.25rem;
}
.m-b-2{
    margin-bottom:1.25rem;
}
.m-l-2{
    margin-left:1.25rem;
}
.p-3{
    padding:1.5rem;
}
.p-t-3{
    padding-top:1.5rem;
}
.p-r-3{
    padding-right:1.5rem;
}
.p-b-3{
    padding-bottom:1.5rem;
}
.p-l-3{
    padding-left:1.5rem;
}
.m-3{
    margin:1.5rem;
}
.m-t-3{
    margin-top:1.5rem;
}
.m-r-3{
    margin-right:1.5rem;
}
.m-b-3{
    margin-bottom:1.5rem;
}
.m-l-3{
    margin-left:1.5rem;
}
.p-4{
    padding:1.75rem;
}
.p-t-4{
    padding-top:1.75rem;
}
.p-r-4{
    padding-right:1.75rem;
}
.p-b-4{
    padding-bottom:1.75rem;
}
.p-l-4{
    padding-left:1.75rem;
}
.m-4{
    margin:1.75rem;
}
.m-t-4{
    margin-top:1.75rem;
}
.m-r-4{
    margin-right:1.75rem;
}
.m-b-4{
    margin-bottom:1.75rem;
}
.m-l-4{
    margin-left:1.75rem;
}
.p-5{
    padding:2rem;
}
.p-t-5{
    padding-top:2rem;
}
.p-r-5{
    padding-right:2rem;
}
.p-b-5{
    padding-bottom:2rem;
}
.p-l-5{
    padding-left:2rem;
}
.m-5{
    margin:2rem;
}
.m-t-5{
    margin-top:2rem;
}
.m-r-5{
    margin-right:2rem;
}
.m-b-5{
    margin-bottom:2rem;
}
.m-l-5{
    margin-left:2rem;
}
.br-r-1{
    position:relative;
}
.br-r-1:before{
    position:absolute;
    top:0;
    right:0;
    width:1px;
    height:100%;
    border-right:1px solid #ddd;
    color:#ddd;
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:scaleX(0.5);
    transform:scaleX(0.5);
    z-index:2;
    content:"";
}
.br-t-1{
    position:relative;
}
.br-t-1:before{
    position:absolute;
    top:0;
    right:0;
    height:1px;
    border-top:1px solid #e5e5e5;
    color:#e5e5e5;
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:scaleY(0.5);
    transform:scaleY(0.5);
    left:15px;
    z-index:2;
    content:"";
}
.p-0{
    padding:0;
}
.p-t-0{
    padding-top:0;
}
.m-0{
    margin:0!important;
}
.m-r_1{
    margin-right:0.5rem;
}
.m-l_1{
    margin-left:0.5rem;
}
.p-tb-5{
    padding:2.5rem 0;
}
.text-primary{
    color:#1791ff;
}
.text-warning{
    color:#f5a623;
}
.text-danger{
    color:red;
}
.text-desc{
    color:#999;
}
h2,
.h2{
    font-size:1.5rem;
}
h3,
.h3{
    font-size:1.08rem;
}
h4,
.h4{
    font-size:1.25rem;
    font-weight:normal;
}
h5,
.h5{
    font-size:1rem;
}
.text-left{
    text-align:left;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
img{
    vertical-align:middle;
}
.img-rounded{
    border-radius:0.5rem;
}
.img-circle{
    border-radius:50%;
}
.img-min{
    width:4rem;
}
.img-base{
    width:5rem;
}
.img-large{
    width:14rem;
}
.label-success{
    padding:0.25rem 1.25rem;
    border-radius:0.25rem;
    display:inline-block;
    color:#16cd6b;
    border:1px solid #16cd6b;
}
.label-warning{
    padding:0.25rem 1.25rem;
    border-radius:0.25rem;
    display:inline-block;
    color:#f5a623;
    border:1px solid #f5a623;
}
.label-primary{
    padding:0.25rem 1.25rem;
    border-radius:0.25rem;
    display:inline-block;
    color:#1791ff;
    border:1px solid #1791ff;
}
.success-label{
    padding:0.25rem 1.25rem;
    border-radius:0.25rem;
    display:inline-block;
    background-color:#16cd6b;
    color:#fff;
}
.warning-label{
    padding:0.25rem 1.25rem;
    border-radius:0.25rem;
    display:inline-block;
    background-color:#f5a623;
    color:#fff;
}
.primary-label{
    padding:0.25rem 1.25rem;
    border-radius:0.25rem;
    display:inline-block;
    background-color:#1791ff;
    color:#fff;
}
.label-small{
    padding:0.25rem;
    line-height:1rem;
}
.btn-block{
    display:block;
}
.btn-default{
    padding:0.25rem 1.25rem;
    font-size:1.25rem;
    line-height:3.5rem;
    border-radius:0.5rem;
    text-align:center;
    color:#1791ff;
    background-color:#fff;
}
button{
    display:block;
    padding:0.25rem 1.25rem;
    font-size:1.25rem;
    line-height:3.5rem;
    border-radius:0.5rem;
    text-align:center;
    color:#1791ff;
    background-color:#fff;
    width:100%;
    border:none;
    margin-bottom:1rem;
    box-shadow:0 2px 4px 0 rgba(23, 145, 255, 0.1);
}
.btn-primary{
    background-color:#1791ff;
    color:#fff;
}
.btn-small{
    padding:0.5rem;
    font-size:inherit;
    line-height:inherit;
}
.btn-1{
    line-height:3rem;
}
.header-shadow{
    box-shadow:0 2px 4px 0 rgba(23, 145, 255, 0.1);
    border-radius:0 0 0.25rem 0.25rem;
}
.header{
    padding:0.5rem;
    margin-bottom:1rem;
    background-color:#fff;
    text-align:center;
    font-size:1.25rem;
    box-shadow:0 2px 4px 0 rgba(23, 145, 255, 0.1);
    border-radius:0 0 0.25rem 0.25rem;
}
.header-cell{
    text-align:center;
    margin:1rem;
    background-color:#fff;
    box-shadow:0 2px 4px 0 rgba(23, 145, 255, 0.1);
    border-radius:0.25rem;
}
.weui-tabbar__item{
    padding-top:0;
}
.bg-warning{
    background:#FF9E5D;
}
.weui-search-bar{
    font-size:1.08rem;
    background-color:#fff;
    box-shadow:0 2px 4px 0 rgba(23, 145, 255, 0.1);
    border-radius:0.5rem;
    padding:0.5rem 0;
    color:#1791ff;
}
.weui-search-bar__box .weui-icon-search{
    line-height:34px;
}
.weui-search-bar__box .weui-search-bar__input{
    line-height:24px;
    height:24px;
}
.weui-search-bar__box .weui-icon-clear{
    line-height:36px;
}
.weui-search-bar__cancel-btn{
    line-height:3rem;
}
.weui-search-bar__form{
    background-color:transparent;
    border-radius:0.5rem;
    overflow:hidden;
    border:1px solid #1791ff;
}
.weui-tabbar{
    padding:1rem;
}
.weui-cell_access .weui-cell__ft:after{
    height:8px;
    width:8px;
    border-width:1px 1px 0 0;
}
.weui-btn-area{
    margin:1.5rem 1rem auto;
}
.weui-cell__bd{
    font-size:1.08rem;
}
.weui-tabbar__icon{
    width:3.5rem;
    height:3rem;
    padding:0.5rem 1rem;
    fill:currentColor;
    vertical-align:middle;
}
.icon-small{
    height:2.5rem;
    padding:0.25rem 0.5rem;
}
.weui-cells,
.weui-panel{
    margin:1rem;
    background:#fff;
    box-shadow:0 2px 4px 0 rgba(23, 145, 255, 0.1);
    border-radius:0.5rem;
}
.weui-panel:before{
    border:none;
}
.weui-panel:first-child{
    margin-top:1rem;
}
.weui-cells{
    font-size:1rem;
}
.weui-cells:before{
    border:none;
}
.weui-cell{
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
}
.weui-cell__hd img{
    margin-right:1rem;
}
.weui-cell__hd.bro img{
    margin-right:1rem;
    border-radius:50%;
}
.weui-media-box__desc{
    font-size:1rem;
}
.weui-cells_panel .weui-cell__ft .weui-cell__ft{
    padding:0;
}
.weui-cells_panel .weui-cell__ft .weui-cell__ft:after{
    border-style:none;
}
.weui-navbar{
    background-color:#fff;
    padding:1rem;
    padding:0.5rem;
    position:static;
}
.weui-navbar:after{
    border:none;
}
.weui-navbar + .weui-tab__bd{
    padding-top:0;
}
.weui-navbar__item{
    padding:0;
}
.weui-navbar__item:after{
    border-right:none;
}
.weui-navbar__item.weui-bar__item--on{
    color:#1791ff;
    background-color:transparent;
}
.weui-radio_btn .radio_btn{
    padding:1rem 0;
    border:1px solid #ddd;
    border-radius:0.25rem;
}
.weui-radio_btn .weui-check:checked + .radio_btn{
    border-color:#1791ff;
    color:#1791ff;
    background-color:#f5f9ff;
}
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before{
    color:#1791ff;
}
.weui-article img{
    width:100%;
}
.has-header .weui-cell:first-child,
.has-header .weui-cells:first-child{
    margin-top:0;
}
.weui-cells-fg .weui-cell{
    margin:1rem;
    background-color:#fff;
    box-shadow:0 2px 4px 0 rgba(23, 145, 255, 0.1);
    border-radius:0.5rem;
}
.weui-cells-fg .weui-cell:before{
    border:none;
}
.weui-cells-fg .weui-cell.weui-cell_access:active{
    background-color:#ececec;
}
.weui-cells-fg a{
    color:inherit;
}
.weui-start .weui-cell,
.weui-start.weui-cell{
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    align-items:flex-start;
}
.weui-center{
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
}
.weui-footer_fixed-bottom{
    background-color:#fff;
    bottom:0;
}
.weui-uploader__file{
    width:75px;
    height:75px;
}
.weui-photo-browser-modal{
    z-index:3;
}
.weui-photo-browser-modal .photo-container img{
    width:100%;
}
.weui-loadmore .weui-loadmore__tips{
    background-color:#f5f9ff;
}
.weui-label{
    width:6rem;
}
.toolbar .title,
.toolbar .picker-button{
    font-size:1.25rem;
    line-height:3rem;
}
.toolbar .toolbar-inner{
    height:3rem;
}
.weui-picker-modal .weui-cells{
    border-radius:0;
}
.weui-toast{
    padding:1.5rem;
    box-sizing:content-box;
}
.weui-search-bar.header-cell{
    padding:0;
}
.weui-search-bar::before{
    border:none;
}
.search_item{
    position:absolute;
    top:30px;
    left:0;
    z-index:1000000;
    width:100%;
    height:40px;
    padding:0 10px;
}
.search_item .weui-search-bar__form{
    border:none;
}
.search_item .search_icon{
    height:40px;
    width:40px;
    position:absolute;
    top:50%;
    left:0;
    z-index:100;
    margin-top:-20px;
    background:url('../images/search_icon.png') no-repeat center;
    background-size:15px 15px;
}
.search_item .search_input{
    margin-left:10px;
    height:32px;
    line-height:32px;
    font-size:14px;
}
.search_res{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000000;
    background:rgba(0, 0, 0, 0.5);
}
.search_res .search_mark{
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
}
.search_res .search_mark .serach_list{
    background:#fff;
    padding:0 20px;
    overflow:hidden;
}
.search_res .search_mark .serach_list .res_cell + .res_cell{
    border-top:1px solid #999999;
}
.search_res .search_mark .serach_list .res_cell{
    width:100%;
    height:85px;
    position:relative;
    padding:10px 60px 10px 76px;
}
.search_res .search_mark .serach_list .res_cell > img{
    height:66px;
    width:66px;
    position:absolute;
    top:10px;
    left:0;
    z-index:1;
    border:none;
    border-radius:2px;
}
.search_res .search_mark .serach_list .res_cell .res_info{
    width:100%;
    height:100%;
    overflow:hidden;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    align-items:flex-start;
    -webkit-align-content:stretch;
    align-content:stretch;
}
.search_res .search_mark .serach_list .res_cell .res_info .res_name{
    font-size:15px;
    color:#333;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.search_res .search_mark .serach_list .res_cell .res_info .res_name span{
    font-size:8px;
    border:1px solid #4795ff;
    color:#4795ff;
    padding:1px 2px;
    vertical-align:middle;
}
.search_res .search_mark .serach_list .res_cell .res_info .res_fee{
    width:100%;
    font-size:12px;
    color:#333;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
}
.search_res .search_mark .serach_list .res_cell .res_info .res_fee .res_dis{
    color:#999999;
}
.search_res .search_mark .serach_list .res_cell .res_info .res_tips{
    font-size:11px;
    color:#999999;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    height:14px;
}
.search_res .search_mark .serach_list .res_cell .res_driving{
    position:absolute;
    right:10px;
    top:20px;
    text-align:center;
}
.search_res .search_mark .serach_list .res_cell .res_driving > img{
    width:14px;
    height:18px;
    margin-bottom:4px;
}
.search_res .search_mark .serach_list .res_cell .res_driving p{
    font-size:12px;
    color:#999999;
}
.map_icon{
    width:15px;
    height:15px;
    display:inline-block;
}
.map_icon.map_icon_1{
    background:url("../images/map_icon1.png") no-repeat center;
    background-size:15px;
}
.map_icon.map_icon_2{
    background:url("../images/map_icon2.png") no-repeat center;
    background-size:15px;
}
.amap-marker-label{
    border:none;
    border-radius:4px;
}
.amap-marker-label span{
    vertical-align:middle;
    display:inline-block;
    margin:0 1px;
}
.car_type_page{
    height:100%;
    width:100%;
    padding-left:70px;
    position:relative;
    overflow:hidden;
}
.car_type_page .car_type_left{
    width:70px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    overflow-y:auto;
    overflow-x:hidden;
    background:#fff;
}
.car_type_page .car_type_left .car_brandList{
    width:100%;
    overflow:hidden;
}
.car_type_page .car_type_left .car_brandList > li{
    height:41px;
    width:100%;
    color:#666666;
    text-align:center;
    line-height:41px;
}
.car_type_page .car_type_left .car_brandList > li.active{
    color:#1791ff;
}
.car_type_page .car_type_left .car_brandList li.title{
    height:26px;
    background:#a2d3ff;
    color:#fff;
    line-height:26px;
}
.car_type_page ::-webkit-scrollbar{
    padding-left:100px;
    display:none;
}
.car_type_page .car_type_right{
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    background:#fff;
    border-left:1px solid #cce0ff;
}
.car_type_page .car_type_right .car_type_list{
    overflow:hidden;
    width:100%;
}
.car_type_page .car_type_right .car_type_list > li{
    height:44px;
    border-bottom:1px solid #cce0ff;
}
.car_type_page .car_type_right .car_type_list > li p{
    height:100%;
    line-height:44px;
    color:#666666;
    font-size:13px;
    padding-left:29px;
}
.login{
    background:url("../images/login_bg.png") no-repeat;
    background-size:100% 100%;
    color:#fff;
    text-align:center;
    padding:1.5rem;
}
.login .logo{
    margin:2.5rem auto 3.75rem;
}
.login .inp{
    background-color:transparent;
    border:none;
    width:100%;
    padding-right:1.5rem;
    color:#fff;
}
.login .input{
    background-color:transparent;
    border:1px solid #fff;
    border-radius:0.25rem;
    height:43px;
    line-height:23px;
    width:100%;
    padding:0.5rem 1rem;
    margin-bottom:1.5rem;
    color:#fff;
}
.login input.login_input::-webkit-input-placeholder{
    color:white;
}
.login input.login_input::-moz-placeholder{
    color:white;
}
.login input.login_input:-moz-placeholder{
    color:white;
}
.login input.login_input:-ms-input-placeholder{
    color:white;
}
.login .has-error{
    box-shadow:0 0 4px red;
}
.login .has-error-text{
    color:red;
}
.login .radio + div{
    padding:1rem;
    border:1px dashed transparent;
}
.login .radio:checked + div{
    border:1px dashed #fff;
    border-radius:6px;
}
.login .weui-cells_checkbox .weui-icon-checked::before{
    font-size:1.25rem;
    color:inherit;
}
.login .weui-cells_checkbox .weui-check:checked + .weui-icon-checked::before{
    color:inherit;
}
.flexColumn{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    flex-direction:column;
}
.flexColumnContent{
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
    overflow:auto;
}
.overflow-y{
    height:100%;
    overflow:auto;
}
.slideAn{
    height:100%;
    overflow:auto;
}
.img__thumb{
    width:4rem;
    height:4rem;
    margin-right:1rem;
}
.btn-1.active{
    color:#1791ff;
}
.img_small{
    width:2.5rem;
    height:2.5rem;
}
.icon_small{
    width:1.5rem;
    height:1.5rem;
    padding:0;
}
.redPort{
    background-color:red;
    width:1rem;
    height:1rem;
    border-radius:100%;
    display:inline-block;
}
.thumb_tx{
    display:inline-block;
    background:no-repeat 50%;
    background-size:cover;
    vertical-align:top;
}
.bg1{
    background:url("../images/bl.png") no-repeat center bottom / contain, -webkit-linear-gradient(bottom, #78c9fd 0%, #1791ff 100%);
    background:url("../images/bl.png") no-repeat center bottom / contain, linear-gradient(0deg, #78c9fd 0%, #1791ff 100%);
    color:#fff;
}
.bg1 .img-circle{
    padding:1px;
    border:0.25rem solid #78c9fd;
}
.bg1-large{
    padding:2.5rem 0;
}
.cdk{
    color:#fff;
}
.cdk a,
.cdk .weui-cell__ft{
    color:inherit;
}
.cdk .weui-cell{
    background:#90ccff url("../images/cdkk.png") no-repeat 95% bottom;
}
.cdk .weui-cell.zs{
    background:url("../images/cdkk.png") no-repeat 95% bottom, url("../images/zx.png") no-repeat 70% 50%;
    background-color:#90ccff;
}
.srcdh{
    margin:6rem 1.5rem;
}
.srcdh .weui-flex__item{
    margin-right:1rem;
}
.srcdh .weui-flex__item:last-child{
    margin-right:0;
}
.srcdh .weui-input{
    background:#fff;
    border:1px solid #78c9fd;
    border-radius:0.5rem;
    text-align:center;
    font-size:1.5rem;
    height:3.5rem;
    line-height:3.5rem;
}
.icon_wsm{
    padding-right:20px;
    background:url("../images/smrz_icon.png") no-repeat right;
    background-size:15px;
}
.icon_sm{
    padding-right:20px;
    background:url("../images/smrz_icon.png") no-repeat right;
    background-size:15px;
}
.per_user_phone{
    padding-right:20px;
    background:url("../images/icon_personal.png") no-repeat center right;
    background-size:15px 13px;
}
.weui_user_info{
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    align-items:flex-start;
}
.no_pages{
    padding:40px;
}
.no_pages img{
    width:10rem;
    height:auto;
    margin:0 auto;
    display:block;
}
.no_pages p.no_pages_title{
    font-size:14px;
    color:#666666;
    text-align:center;
    margin-top:10px;
}
.weui-uploader__input-box{
    background:url("../images/bg_upload.png") no-repeat center center;
    background-size:100%;
    border:none;
}
.weui-uploader__file{
    width:73px;
    height:73px;
}
.weui-uploader__input-box:before{
    content:none;
    width:0;
    height:0;
}
.weui-uploader__input-box:after{
    content:none;
    width:0;
    height:0;
}
.weui-cell_access .weui-cell__ft.z_distance{
    padding-right:0;
}
.weui-cell_access .weui-cell__ft.z_distance:after{
    content:'';
    width:10px;
    height:10px;
    position:absolute;
    left:-20px;
    border:none;
    background:url("../images/icon_po_ind.png") no-repeat center center;
    background-size:10px 10px;
    -webkit-transform:none;
    transform:none;
    top:50%;
    margin-top:-5px;
    right:0;
}
.top_filter{
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 0.4);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:10000;
}
.top_filter .filter_inner{
    width:100%;
    background:#fff;
    position:absolute;
    top:100px;
    left:0;
    z-index:auto;
    padding:0 1rem;
}
.top_filter .filter_inner .filter_con{
    width:100%;
}
.top_filter .filter_inner .filter_con .filter_con_cell{
    width:100%;
    border-bottom:1px solid #eee;
}
.top_filter .filter_inner .filter_con .filter_con_cell h4{
    margin:1rem 0;
    font-size:13px;
    height:20px;
    line-height:20px;
    color:#999;
}
.top_filter .filter_inner .filter_con .filter_con_cell .con_btns{
    width:100%;
    overflow:hidden;
}
.top_filter .filter_inner .filter_con .filter_con_cell .con_btns:last-child{
    margin-right:0;
}
.top_filter .filter_inner .filter_con .filter_con_cell .con_btns .filter_btn{
    height:32px;
    width:7rem;
    display:inline-block;
    text-align:center;
    padding-left:0;
    padding-right:0;
    font-size:12px;
    color:#333;
    margin-right:10px;
    line-height:26px;
    border:1px solid #ececec;
    box-shadow:none;
    outline:none;
    border-radius:2px;
}
.top_filter .filter_inner .filter_con .filter_con_cell .con_btns .filter_btn.active{
    color:#2e9cff;
    border:1px solid #2e9cff;
}
.top_filter .filter_inner .filter_footer{
    width:100%;
    overflow:hidden;
    font-size:0;
}
.top_filter .filter_inner .filter_footer .foo_btn{
    width:50%;
    height:48px;
    display:inline-block;
    text-align:center;
    padding-left:0;
    padding-right:0;
    font-size:14px;
    color:#333;
    margin:0;
    line-height:48px;
    box-shadow:none;
    outline:none;
    border-radius:0;
}
.top_filter .filter_inner .filter_footer .foo_btn.confirm_btn{
    background:#1791ff;
    color:#fff;
}
.filer_down:after{
    margin-left:1.3rem;
}
.noIcon.weui-cell__ft:after{
    display:none;
}
.head{
    height:44px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
}
.c-white{
    color:#ffffff;
}
.c-333{
    color:#333;
}
.bg-white{
    background:#ffffff;
}
.bg-main{
    background:#1791ff;
}
.page{
    height:100%;
    padding-top:44px;
}
.head .icon_back{
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    width:44px;
    height:44px;
    background:url("../images/icon_back.png") no-repeat center;
    background-size:12px 20px;
    cursor:pointer;
}
.head h4{
    height:100%;
    line-height:44px;
}
.w-f{
    width:100%;
}
.w-h{
    height:100%;
}
.tac{
    text-align:center;
}
.discount_item{
    position:relative;
}
.discount_item:after{
    content:'券';
    width:18px;
    height:21px;
    text-align:center;
    color:#ffffff;
    font-size:12px;
    position:absolute;
    top:0;
    right:30px;
    z-index:auto;
    background:url("../images/icon_discount.png") no-repeat center;
    background-size:18px auto;
}
.discount_tip{
    height:100%;
    padding:10px 15px;
}
.discount_tip > p{
    position:relative;
    padding-left:10px;
}
.discount_tip > p:after{
    content:'';
    background:#dddddd;
    width:3px;
    height:3px;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:0;
    z-index:auto;
    margin-top:-1px;
}
.no_use{
    opacity:0.6;
}
.sel_img{
    display:none;
    width:18px;
    height:18px;
}
.sel_img_no{
    display:inline-block;
    width:18px;
    height:18px;
}
.discount_item.active .sel_img{
    display:inline-block;
}
.discount_item.active .sel_img_no{
    display:none;
}
.h44{
    height:44px;
}
.dn{
    display: none;
}







