<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="wap-font-scale" content="no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>云充电</title>
    <link rel="stylesheet" href="../../../css/weui.min.css">
    <link rel="stylesheet" href="../../../css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../../css/common.css">
</head>
<body ontouchstart>

<form name="myForm" style="overflow: hidden;">
    <div class="weui-cells">
        <label class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">车牌类型</label>
            </div>
            <div class="weui-cell__bd">
                <input type="text" class="weui-input"  name="cartypeId" id='picker-lx' placeholder="请选择" required/>
            </div>
            <div class="arrow-down "></div>
        </label>
        <label class="weui-cell weui-cell_access">
            <div class="weui-cell__hd">
                <span class="weui-label">车型</span>
            </div>
            <div class="weui-cell__bd">
                <input type="text" class="weui-input"  name="carBrand" id='picker-car' placeholder="请选择" />
            </div>
            <div class="weui-cell__ft"></div>
        </label>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">车牌</label>
            </div>
            <div class="weui-cell__bd">
                <div class="weui-flex">
                    <label class="text-right">
                        <input type="text" class="weui-input" style="width: 4rem" ng-model="form.carArea" name="plateType" id="picker-cp" />
                        <span class="arrow-down">&nbsp;</span>
                    </label>
                    <div class="weui-flex__item m-l-5"><input type="text" ng-model="form.carNum" name="carNumber" class="weui-input" placeholder="请输入车牌号" required/></div>
                </div>
            </div>
        </div>
        <label class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">发动机号</label>
            </div>
            <div class="weui-cell__bd"><input type="text" class="weui-input"  name="engineNumber" placeholder="请输入发动机号" required/></div>
        </label>
        <label class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">车架号</label>
            </div>
            <div class="weui-cell__bd"><input type="text" class="weui-input"  name="frameNumber" placeholder="请输入车架号" required/></div>
        </label>
    </div>
    <div class="weui-btn-area">
        <button >提交</button>
    </div>
</form>
<div class="weui-agree text-center">
    <span class="weui-agree__text">*以上车辆信息我们将严格保密</span>
</div>

<script src="../../../lib/jquery-2.1.4.js"></script>
<script src="../../../lib/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script src="../../../lib/jquery-weui.min.js"></script>
</body>
</html>

